body{
  margin: 0px;
  font-size: 1.1rem;
  color: rgb(58, 55, 55);
  text-shadow: 0 0 1px rgba(245, 245, 245, 0.151);
  box-sizing: border-box;
}

body *{
  box-sizing: inherit;
}
 /* common css  */
button:hover{
  box-shadow: 0 0 5px rgba(15, 2, 189, 0.885);
}
button:active{
  box-shadow: none;
}
img{
  /* min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto; */
  height: 100%;
  width: auto;
  position: relative;
  left:50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
}

/* main */
.main{
  display: grid;
  grid-template-columns: 1fr;
  gap:20px;
  justify-items: center;
}

/* navigation bar css */
.nav{
  display: grid;
  background-color: dodgerblue;
  height: 100px;
  width: 100%;
  place-items: center center;
}
#search-btn{
  border-radius: 0 5px 5px 0;
  border: none;
  height:30px;
  padding:5px 10px;

}
.nav input{
  border-radius: 5px 0 0 5px;
  border: none;
  height:30px;
  padding:5px 10px;
  background-color: rgba(247, 247, 247, 0.815);
}

/* movie and favourite tab   */
.tabs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:5px;
  justify-content: center;
  margin-top: 30px;
}
.tab{
  padding: 5px 20px;
  background-color: yellow;
  text-align: center;
}
.tab:hover{
  background-color: rgb(214, 214, 0);
}
.tab:active{
  background-color: yellow;
}

/* movie list and movie card */
.list{
  padding: 10px;
  display: grid;
  width:60%;
  grid-template-columns:1fr;
  gap:20px;
  
}
.movie-card{
    height:200px;
    min-width: 400px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns:1fr 2fr; 
}
.right{
  margin: 10px;
}
.left{
  overflow: hidden;
}
.right  .title{
  font-size: 1.5em;
  text-align: center;
}
.right .footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* favourite btn and unfavourite button */

.favourite-btn{
  border:none;
  border-radius: 5px;
  background-color: aqua;
}
.unfavourite-btn{
  background-color: red;
}




